---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: instance
    image: geerlingguy/docker-ubuntu2404-ansible:latest
    # Use ARM64 platform in CI, native platform locally for development
    platform: "${MOLECULE_DOCKER_PLATFORM:-linux/amd64}"
    command: /sbin/init
    privileged: true
    systemd: true
    capabilities:
      - SYS_ADMIN
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    environment:
      DEBIAN_FRONTEND: noninteractive
provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks,timer
      stdout_callback: default
      bin_ansible_callbacks: true
    callback_default:
      result_format: yaml
verifier:
  name: ansible
