---
- name: Verify current kubernetes version
  ansible.builtin.command: kubelet --version
  register: current_kubelet_version
  changed_when: false
  tags: [pre_checks]

- name: Verify etcd cluster health
  ansible.builtin.command: >
    etcdctl endpoint health
    --cacert={{ etcd_cacert }}
    --cert={{ etcd_cert }}
    --key={{ etcd_key }}
  register: etcd_health
  changed_when: false
  when: node_role == "control_plane"
  become: true
  tags: [pre_checks]

- name: Verify all nodes are Ready
  ansible.builtin.command: kubectl --kubeconfig={{ kubeconfig_path }} get nodes --no-headers
  register: node_status
  changed_when: false
  failed_when: "'NotReady' in node_status.stdout"
  delegate_to: "{{ groups['control_plane'][0] }}"
  run_once: true
  become: true
  tags: [pre_checks]
