apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  name: kube-vip
  namespace: kube-system
spec:
  containers:
  - args:
    - manager
    env:
    - name: vip_arp
      value: "{{ kube_vip_arp | lower }}"
    - name: port
      value: "6443"
    - name: vip_interface
      value: "{{ kube_vip_interface }}"
    - name: vip_cidr
      value: "32"
    - name: dns_mode
      value: "first"
    - name: cp_enable
      value: "{{ kube_vip_control_plane | lower }}"
    - name: cp_namespace
      value: "kube-system"
    - name: svc_enable
      value: "{{ kube_vip_services | lower }}"
    - name: svc_leasename
      value: "plndr-svcs-lock"
    - name: vip_leaderelection
      value: "{{ kube_vip_leader_elect | lower }}"
    - name: vip_leasename
      value: "plndr-cp-lock"
    - name: vip_leaseduration
      value: "5"
    - name: vip_renewdeadline
      value: "3"
    - name: vip_retryperiod
      value: "1"
    - name: address
      value: "{{ kube_vip_vip }}"
    - name: prometheus_server
      value: ":2112"
    - name: log_level
      value: "{{ kube_vip_log_level }}"
    image: {{ kube_vip_image }}
    imagePullPolicy: IfNotPresent
    name: kube-vip
    resources:
      limits:
        memory: 64Mi
        cpu: 100m
      requests:
        memory: 16Mi
        cpu: 50m
    securityContext:
      capabilities:
        add:
{% for cap in kube_vip_security_context.capabilities.add %}
        - {{ cap }}
{% endfor %}
    volumeMounts:
    - mountPath: /etc/kubernetes/admin.conf
      name: kubeconfig
  hostAliases:
  - hostnames:
    - kubernetes
    ip: 127.0.0.1
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/kubernetes/admin.conf
    name: kubeconfig
status: {}