---
# tasks file for kubernetes_components

- name: Include system preparation tasks
  ansible.builtin.include_tasks: system_preparation.yml

- name: Include CRI-O installation tasks
  ansible.builtin.include_tasks: crio.yml

- name: Include Kubernetes installation tasks
  ansible.builtin.include_tasks: kubernetes.yml

- name: Include kubelet configuration tasks
  ansible.builtin.include_tasks: kubelet.yml

- name: Include kubeadm configuration tasks
  ansible.builtin.include_tasks: kubeadm.yml
